:root {
    --color-green:hsl(75, 94%, 57%);   /* Azul */
    --color-white:  hsl(0, 0%, 100%); /* Verde */
    --color-gray-700: hsl(0, 0%, 20%);    /* Rojo */
    --color-gray-800: hsl(0, 0%, 12%); /* Fondo claro */
    --color-gray-900: hsl(0, 0%, 8%);
}

@font-face {
  font-family: 'InterVariable' ;
  src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: 'InterBold' ;
  src: url(../assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: 'InterRegular' ;
  src: url(../assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: 'InterSemiBold' ;
  src: url(../assets/fonts/static/Inter-SemiBold.ttf);
}


body{
  font-family: 'InterVariable' ;
  font-size: 14px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-gray-900);
}

.card{
    width: 328px;
    height: 582px;
    background-color: var(--color-gray-800);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card .card__aside .card__figure .card__image{
    width: 90px;
    border-radius: 100%;
}

.card .card__content {
    text-align: center;
}

.card .card__content .card__header .card__username{
    color: var(--color-white);
    margin: 0;

}

.card .card__content .card__location{
    font-family: 'InterBold' ;
    color: var(--color-green);
    font-size: 12px;
    margin-bottom: 35px;
}
.card .card__content .card__tag{
    font-family: 'InterRegular' ;
    color: var(--color-white);
    margin-bottom: 25px;
}

.card .card__content .card__list{
    width: 270px;
    font-family: 'InterSemiBold' ;
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--color-white);
}

.card .card__content .card__list .card__list__item{
    padding: 17px;
    background-color: var(--color-gray-700);
    border-radius: 12px;
    margin-bottom: 15px;
}

.card .card__content .card__list .card__list__item:hover{
    background-color: var(--color-green);
    color: var(--color-gray-900);
    cursor: pointer;
}


@media (min-width: 1440px) {

    body{
        font-size: 16px;
    }

    .card{
        width: 385px;
        height: 612px;

    }
    .card .card__content .card__list{
        width: 300px;
    }
    .card .card__content .card__location{
        font-size: 14px;
    }
    .card .card__content .card__list .card__list__item{
        padding: 15px;
    }
  
}
  